/* police ajouté au site */
@font-face {
  font-family: "raleway";
  src: url(raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: "ralewaybold";
  src: url(raleway/Raleway-Bold.ttf);
}
/* police de la page */
#bloc_page {
  font-family: "raleway";
}

/* ligne en dessous du lien enlevé */
a {
  text-decoration: none;
}

/* MENU */

/* mise en place du menu en haut a droite */
#menu {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  font-size: 1em;
}
/* couleur bleu class hébergement */
#couleur_hb {
  color: black;
}

/* couleur noir class activité */
#couleur_act {
  color: black;
}

/* couleur bleu en gras class s'inscrire */
#couleur_ins {
  color: #0065fc;
  font-family: "ralewaybold";
  font-weight: bold;
}
/* alignement des liens et puces enlevé */
#menu ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

/* padding marge intérieur margin marge extérieur */
#menu ul li a {
  padding: 33px;
  margin: 0 35px;
}

/* clique sur les liens survoles */
#menu ul li a:hover {
  color: #0065fc;
  border-top: 3px #0065fc solid;
}

/* TITRE */

/* titre h1 de la page */
#titreh1 {
  font-family: "ralewaybold";
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  margin: 20px;
}
/* titre 2 du header */
#presentation {
  font-size: 1em;
  margin: 20px;
}

/* BARRE DE RECHERCHE */

/* la barre de recherche */
#recherche {
  display: flex;
  justify-content: left;
  margin: 20px;
}
/* le logo de map */
#logodestination {
  border-radius: 10px 0 0 10px;
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px;
  width: 27px;
}
/* la barre de recherche client */
#destination {
  padding: 13px;
  border: 0.5px solid #f2f2f2;
  color: black;
  font-weight: bold;
}
/* partie extérieur du bouton de recherche */
#bouton {
  border-radius: 0 10px 10px 0;
  padding: 10px;
  background-color: #0065fc;
}
/* le bouton cliquable de recherche (partie intérieur) */
.bou {
  color: white;
  background-color: #0065fc;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* FILTRES */

/* placement de la barre de filtre */
.texte_centre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* marge exterieur entre la barre de recherche et la barre de filtre */
.marge_filtre {
  margin-top: 50px;
  margin-bottom: 40px;
}

/* alignement de la barre de filtre */
.filtre {
  display: flex;
  align-items: center;
}

/* placement du titre filtre */
.filtreh2 {
  margin-right: 20px;
  font-family: "ralewaybold";
  font-size: 1em;
  margin: 20px;
}

/* placement de bordure des différents filtres */
.filtre_texte {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}

/* passage au survole de la souris */
.filtre_texte:hover > .couleur_texte {
  color: #0065fc;
}

.filtre_texte:hover > .logo_icon {
  color: white;
  background-color: #0065fc;
}

/* placement du texte centrage */
.couleur_texte {
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0 25px 25px 0;
  color: black;
  font-family: "ralewaybold";
}

/* placement des icone et centrage */
.logo_icon {
  margin-left: -2px;
  border-radius: 25px;
  width: 52px;
  height: 36px;
  color: #0065fc;
  background-color: #deebff;
  text-align: center;
  padding-top: 17px;
}

/* INFO */

/* alignement et marge extérieur */
.info {
  display: flex;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 20px;
}

/* bordure du logo et marge extérieur et interieur du logo */
.info_logo {
  color: #0065fc;
  width: 13px;
  height: 17px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
  margin: 20px;
  padding-left: 8px;
  padding-top: 4px;
}

/*couleur titre */
.titreinfo {
  font-size: 1em;
}

/*  SECTION HEBERGEMENT */

/* titre hebergement */
#Hebergements {
  font-family: "ralewaybold";
  line-height: 1px;
  margin-left: 11px;
  margin-bottom: 12px;
  padding-top: 16px;
}

/* le titre hebergement */
.titre_heb {
  font-family: "ralewaybold";
  font-size: 1em;
}

/* images espacé equitablement */
#Heb_pop {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* fond du bloc hebergements */
.bloc_heb {
  flex: 2;
  height: 650px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* fond du bloc populaire */
.bloc_pop {
  flex: 1;
  height: 650px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* modif taille et postionnement photos */
.imageshebergements1 {
  background-image: url("imageshebergements/aubergecannebiere.jpg");
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}

.imageshebergements2 {
  background-image: url("imageshebergements/hotelport.jpg");
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}

.imageshebergements3 {
  background-image: url("imageshebergements/hotelmouettes.jpg");
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}

.imageshebergements4 {
  background-image: url("imageshebergements/hotelmer.jpg");
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}

.imageshebergements5 {
  background-image: url("imageshebergements/aubergepanier.jpg");
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}

.imageshebergements6 {
  background-image: url("imageshebergements/hotelamina.jpg");
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}

/* etoile hôtel */
.couleur_etoileB {
  color: #0065fc;
}

.couleur_etoileG {
  color: #f2f2f2;
}
/* la couleur des liens */
.couleur_lien_N {
  color: black;
  line-height: 10px;
}

/* ligne haute et ligne de basse */
.ligne1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* le cadre blanc et alignement description */
.cadre_blanch {
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* alignement legèrement décalé entre descriptions et photos */
.description_h {
  width: 90%;
}

/* afficher plus */
#gras {
  font-family: "ralewaybold";
  margin-top: 5px;
  margin-left: 11px;
}

/* BLOC POPULAIRE */

/* les titres sous photo */
.titre_pop {
  color: black;
  font-family: "ralewaybold";
  font-size: 1em;
  margin-top: 10px;
}

.titrePOP {
  font-family: "ralewaybold";
  line-height: 1px;
}

/* icône et titre */
.icon_pop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 45px;
}

/* bonne alignement des trois images */
.trois_bloc_pop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 60px;
}

/* marges entre les images (intérieur) */
.marge_photo_pop12 {
  margin-top: 22px;
}

.imagespopulaires1 {
  background-image: url("imagespopulaires/hotelsoleil.jpg");
  width: 35%;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 0 0 15px;
}

.imagespopulaires2 {
  background-image: url("imagespopulaires/aucoeurdeleau.jpg");
  width: 35%;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 0 0 15px;
}

.imagespopulaires3 {
  background-image: url("imagespopulaires/hotelbleublanc.jpg");
  width: 35%;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 0 0 15px;
}

.pop_centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadre_blancp {
  height: auto;
  background-color: white;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
}

.lien_pop {
  width: 60%;
  padding-left: 5%;
  color: black;
}

.P_pop {
  margin-bottom: 30px;
  font-size: 1em;
}

.line_P_titre {
  line-height: 20px;
}
/* BLOC ACTIVITÉ */

/* titre activité */

.titreACT {
  font-family: "ralewaybold";
}

/* la marge entre le haut et le bas du site */
#Activites {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* class général div principal */
.bloc_activites {
  width: 100%;
  height: 600px;
}

/* les bloc des petite photo */
.bloc_activites2356 {
  width: 23%;
  height: 600px;
}

/* le placement de la div principal activité (total) */
.flex_between_act {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* class spécifique pour chaque photo (centrage du titre et photo) */
.display_column_act {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* placement des 2 photos dans chaque div */
.flex_column_between_act {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* reglage bloc */
.cadre_blanc_act {
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

/* les petites images activités */
.img2356 {
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

/* aggrandissement de la div titre */
.hauteur_titre_act {
  height: 70px;
}

/*le titre h3 sous texte photo*/
.titre_act {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  width: 95%;
  color: black;
  font-family: "ralewaybold";
}

/* les différentes immages */
.imagesactivites1 {
  background-image: url("imagesactivitesM/vieuxport.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 530px;
}

.imagesactivites2 {
  background-image: url("imagesactivitesM/fortpomegues.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 250px;
}

.imagesactivites3 {
  background-image: url("imagesactivites/ilesfrioul.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 150px;
}

.imagesactivites4 {
  background-image: url("imagesactivitesM/parcdescalanques.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 530px;
}

.imagesactivites5 {
  background-image: url("imagesactivites/notredame.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 200px;
}

.imagesactivites6 {
  background-image: url("imagesactivites/parclongchamp.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 200px;
}

/* FOOTER */

#footer {
  margin-top: 100px;
  height: 300px;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.puce {
  list-style-type: none;
  padding: 2px 0;
}

#a_propos {
  margin-left: 2%;
  height: 150px;
}

#nos_hebergements {
  height: 150px;
  margin-right: 8%;
}

#assistance {
  height: 150px;
  margin-right: 18%;
}

.couleur_footer {
  color: black;
}

.titre_footer {
  font-family: "ralewaybold";
}

.marge_li_footer {
  margin-top: 10px;
}
